.article--wrapper
  .container

    %article{ id: 'content', tabindex: '0' }
      = render partial: 'shared/article/header', locals: { title: collection.name, collections: collection.parents, root_collections: root_collections }
      = render partial: 'shared/article/main', locals: { content: collection.extended_description }
      = render partial: 'shared/article/footer', locals: { collections: collection.parents }

    - if collection.articles.any? || collection.subcollections.any?
      %aside
        = render partial: 'shared/article/aside_block', locals: { title: collection.name, collection: collection, graph_id: collection.graph_id }
