- page_title = title('Group of individuals\' details. Object to the High Speed Rail (West Midlands – Crewe) Bill')

#content.hero.theme--grey-4{ tabindex: '0' }
  .container
    %h1
      Group of individuals' details
      %span.sr-only .
      %span Object to the High Speed Rail (West Midlands – Crewe) Bill

    %h2.typography--light Step 3 of 5

%section.section--major
  .container
    %h2.sr-only Complete the fields below
    =render partial: 'hybrid_bills/steps/forms/details_form', locals: { petitioner_object: @petitioner_object, business_id: @business_id, include_group: true, group_name: 'Group name', group_type: 'group'}
