#content.hero.theme--grey-4
  .container
    %h1 Organisation details
    %p.lead{:style => "margin-top: 18px;"} Step 3 of 5

%section.section--major
  .container
    =render partial: 'hybrid_bills/steps/forms/details_form', locals: { petitioner_object: @petitioner_object, business_id: @business_id, include_group: true, group_name: 'Names of Organisations', group_type: 'organisation' }
