- @history[:years].keys.sort.each do |year|
  %h2= "#{t('.held_in', years: year)}"
  %ul.list--block
    = render 'timeline_roles', timeline_roles: @history[:years][year]
- if @history && @history[:start]
  %h2= @history[:start].year
