.section--primary
  .container
    .block--border__bottom.block--offset
      %h1= @article.title
      = MarkdownHelper.markdown(@article.article_summary)

%section#content{ tabindex: "0" }
  %article
    .container--offset
      = MarkdownHelper.markdown(@article.article_body)
