this is the document submission page

<h1>New Petition</h1>

<h2>Upload your petition</h2>
<h3>File upload requirements</h3>
<ul>
   <li>Word Document (doc, docx, rtf, txt, ooxml, odt or PDFformat only)</li>
   <li>2Mb file size limit</li>
   <li>No other media types (e.g. pictures or video files)</li>
</ul>

 <%= form_tag(hybrid_bill_path(@petition, step: 'terms-conditions')) do %>



 <% end %>