#content.hero.theme--grey-4
  .container
    %h1 Upload your completed template
    %p.lead Step 4 of 5

- if @document_object
  %section
    .container
      %br
      .status--highlight.theme--warning
        %h2 Errors
        %ul#error-file-upload
          - if @document_object.errors[:filename]
            %li{ aria: { live: 'assertive'} } Please make sure the file you have uploaded is doc, docx, rtf, txt, odt or pdf.
          - if @document_object.errors[:filesize]
            %li{ aria: { live: 'assertive'} } The file you have uploaded is too big. Please make sure it is smaller than 2Mb.

%section
  .container
    %h2 Uploaded file must

    %ul.list--bullet
      %li be less than 2Mb in size
      %li be file type: doc, docx, rtf, txt, odt or PDF
      %li not include any images, graphics or videos
    %br

%section
  .container
    = form_tag(hybrid_bill_path(@business_id, step: 'document-submission'), multipart: true) do
      .file--upload
        .file--upload-icon
        %h3#file-name Upload your petition template

        %label{for: 'file-upload', class: 'sr-only'} Click here to upload your petition
        = file_field_tag 'hybrid_bill_document[file]', class: 'file--input', id: 'file-upload', aria: { required: true, describedby: 'file-upload-status' }

      %p.file--upload_status#file-upload-status No file selected

      %br
      .box--holder__bordered
        = submit_tag 'Next', class: 'btn--primary'
