#content.hero.theme--grey-4
  .container
    %h1 Terms and conditions
    %p.lead Step 5 of 5

%section
  .container
    %h2 Personal information

    %p A copy of this petition and information provided in the online form will be:

    %ul.list--bullet
      %li
        kept in the
        %a{href: ''} Private Bill Office
        and as a record in the
        %a{href: ''} Parliamentary Archives
        \.

      %li
        sent to the
        %a{href: ''} Department for Transport
        and
        %a{href: ''} HS2 Ltd
        after the petition has been accepted by the Private Bill Office.

      %li published, including your name and address, on UK Parliament’s website.

    %p The personal information you have provided may be kept in a database by both Private Bill Offices.

%section
  .container
    %h2 Communications

    %p Private Bill Office staff may call or email any of the named petitioners to verify the information provided.

    %p Communications may be stored in databases to keep track of information you have given or received. This information may be shared between the Private Bill Offices.

%section
  .container
    .block--border__bottom
      %h2 Consent and confirmation

      %p The information you have provided in the petition and online form is accurate.

      %p If you have filled in the form on behalf of an individual, a group or organisation(s), you have been authorised to do so.

%section
  .container
    = form_tag hybrid_bill_path(@business_id, step: 'terms-conditions') do
      = hidden_field_tag 'hybrid_bill_terms[accepted]', true
      = submit_tag 'I agree - send petition', class: 'btn--primary'
