#content.hero.theme--grey-4
  .container
    %h1 Who are you submitting a petition for?
    %p.lead Step 2 of 5

%section.section--major
  .container
    = form_tag(hybrid_bill_path(@business_id, step: 'details')) do
      = render partial: 'hybrid_bills/steps/forms/components/petitioner-type'


    %p
      =link_to 'Back', hybrid_bill_path(@business_id, step: 'writing-your-petition')
