#mapbox{ data: { json: { location: @json_location }, map: { title: t('constituencies.map.accessibility_title') + @constituency.name } } }
  %noscript
    .highlight--box.highlight--caution__soft
      %p= t('constituencies.constituency.constituency_map_fallback')
