#content.hero.theme--grey-4
  .container
    %h1 Who are you submitting a petition for?
    %p.lead Step 1 of 2

%section.section--major
  .container
    = form_tag hybrid_bill_email_path(@business_id), method: :get do
      = render partial: 'hybrid_bills/steps/forms/components/petitioner-type'

    %p
      =link_to 'Back', hybrid_bill_path(@business_id)
