- page_title = title('Object to the High Speed Rail (West Midlands – Crewe) Bill')

#content.section--primary{ tabindex: '0' }
  .container
    %h1 Object to the High Speed Rail (West Midlands – Crewe) Bill

    - if flash[:alert]
      %br
      .status--highlight.theme--warning
        %p= t(flash[:alert])

    %div(data-browser='javascript')
      %br
      .status--highlight.theme--caution
        %p JavaScript is currently switched off in your browser. Switch it on for a better experience.

    .status--highlight
      %p The deadline is 5pm on 26 February 2018.

%section
  .container
    %h2 Overview

    %p Any individual, group of individuals, organisation or group of organisations affected by the High Speed Rail (West Midlands – Crewe) Bill can object to it.

    %p
      To find out more about the Bill, visit the
      = link_to 'High Speed Two (HS2) Limited website', 'https://www.gov.uk/government/organisations/high-speed-two-limited', target: '_blank'
      %span.sr-only (This link will open in a new window).

%section
  .container
    %h2 Objecting to the Bill

    %p To object to the High Speed Rail (West Midlands – Crewe) Bill you will need to download and complete our petition template. You can do this by petitioning on our website or by email, post or in person.

    %p We will ask for your name, address and examples of how you are affected by the Bill.

    %p The petition does not require any signatures.

%section
  .container
    %h2 Contact details

    %p We will ask you to tell us who should be contacted about your petition. This main contact can be you or someone else, for example a friend, family member or lawyer.

    %p
      The main contact will receive all petition communications. They will usually be invited to give evidence about it to the
      = link_to 'High Speed Rail (West Midlands – Crewe) Bill Committee', 'http://www.parliament.uk/business/committees/committees-a-z/commons-select/high-speed-rail-west-midlands-crewe-bill-select-committee-commons', target: '_blank'
      %span.sr-only (This link will open in a new window).

%section
  .container
    %h2 After sending your petition

    .track--alternative
      %h3.typography--light Once we’ve received your petition we’ll ask you to pay a &pound;20 admin fee.

      %h3.typography--light We'll publish your petition on our website. This will include your name and address.

      %h3.typography--light We’ll send your petition to HS2 Ltd, who may contact you to discuss it.

      %h3.typography--light We’ll also send your petition to the Department for Transport (DfT). They can challenge it if they don’t believe you are affected by the Bill.

      %h3.typography--light You will usually be invited to give evidence to the committee about your petition. Hearings are scheduled for spring/summer 2018.

    .section--major
      %div(data-browser='cookies')
        .status--highlight.theme--warning
          %p
            = link_to 'Cookies', 'http:https://beta.parliament.uk/meta/cookie-policy'
            are currently blocked. Allow all cookies to petition online.

          %p If you don’t want to allow all cookies, you can petition by email, post or in person.

      =link_to 'Petition on our website', hybrid_bill_path(@business_id, step: 'writing-your-petition-online'), class: 'btn--primary', data:{ browser: 'button' }
      =link_to 'Petition by email, post or in person', hybrid_bill_email_path(@business_id), class: 'btn--primary--inverse'
