Hello, this is petition: #{@petition}
%br/
%h2 Before you send your petition
%p Before you petition the New Motorway Bill you should:
%hr{:style => "border-bottom: dotted 0.5px #001"}/
%p 1. read the guidelines
%hr{:style => "border-bottom: dotted 0.5px #001"}/
%p 2. download and complete template
%hr{:style => "border-bottom: dotted 0.5px #001"}/
%p
  3. if your petition is accepted, a
  %b payment of £20
  will be required to process your submission
%hr{:style => "border-bottom: dotted 0.5px #001"}/
= link_to 'Start a petition online', hybrid_bill_path(@petition, step: 'send-a-petition')
