%h2= sanitize(title)
.block
  %ul.list--pipe
    - collection.articles.each do |article|
      - if graph_id == article.graph_id
        %li.active
          .card
            .card__details
              = sanitize(article.article_title)
      - else
        %li
          .card
            .card__details
              = link_to(sanitize(article.article_title), article_path(article.graph_id))
    - collection.subcollections.each do |subcollection|
      %li
        .card
          .card__details
            = link_to(sanitize(subcollection.name), collection_path(subcollection.graph_id))
