%footer
  - if local_assigns[:collections] && collections.any?
    %p
      %span.typography--heavy= t('.up_to')
      = render partial: 'shared/article/delimited_collection_links', locals: { links: collections }

  %ul.list--inline
    // Print button
    %li.visually-hidden{ aria: { hidden: 'true' } }
      .card
        .card__details
          = render partial: 'pugin/icons/print'
          %a.btn--print{ href: '#' }
            = t('print').capitalize
