.section--primary
  .container
    %h1= @place.name
    %ol.list--block
      %li
        .list--details
          %h2= link_to t('constituency_plural').capitalize, places_show_constituencies_path(@place.gss_code)
          %p= t('places.region_constituencies')
